<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Student Create</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form th:action="@{/student/create}" method="post" th:object="${studentDTO}">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="firstname" class="col-form-label">First Name</label>
                                                    <input id="firstname" type="text" placeholder="first name"
                                                           th:field="*{firstName}" class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('firstName')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('firstName')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="lastname" class="col-form-label">Last Name</label>
                                                    <input id="lastname" type="text" placeholder="last name"
                                                           th:field="*{lastName}" class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('lastName')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('lastName')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="contact" class="col-form-label">Contact</label>
                                                    <input id="contact" type="text" placeholder="email or phone"
                                                           th:field="*{contact}" class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('contact')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('contact')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="password" class="col-form-label">Password</label>
                                                    <input id="password" type="password" placeholder="password"
                                                           th:field="*{password}" class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('password')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('password')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="year" class="col-form-label">Year</label>
                                                    <input id="year" type="number" placeholder="year" th:field="*{year}"
                                                           class="form-control">
                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('year')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('year')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Gender</label><br>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" name="radio-inline" th:value="MALE"
                                                               th:field="*{gender}" class="custom-control-input"><span
                                                            class="custom-control-label">Male</span>
                                                    </label>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" name="radio-inline" th:value="FEMALE"
                                                               th:field="*{gender}" class="custom-control-input"><span
                                                            class="custom-control-label">Female</span>
                                                    </label>
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('gender')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('gender')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="birthdate" class="col-form-label">Birthdate</label>
                                                    <input id="birthdate" type="date" placeholder="age"
                                                           th:field="*{birthdate}" class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('birthdate')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('birthdate')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Course</label>
                                                    <select th:field="*{course}" name="course" class="custom-select">
                                                        <option th:value="''" th:text="Select"></option>
                                                        <option th:each="eachCourse : ${courseList}"
                                                                th:value="${eachCourse}"
                                                                th:text="${eachCourse.toString().charAt(0) + eachCourse.toString().substring(1).toLowerCase()}"></option>
                                                    </select>
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('course')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('course')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ------------------------If Course is String----------------------------- -->
                                            <!--                                        <div class="row">-->
                                            <!--                                            <div class="col-sm-6 col-md-6">-->
                                            <!--                                                <div class="form-group">-->
                                            <!--                                                    <label for="course" class="col-form-label">Course</label>-->
                                            <!--                                                    <input id="course" type="text" placeholder="course" th:field="*{course}" class="form-control">-->
                                            <!--                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('course')}">-->
                                            <!--                                                        <ul>-->
                                            <!--                                                            <li th:each="err : ${#fields.errors('course')}"-->
                                            <!--                                                                th:text="${err}"></li>-->
                                            <!--                                                        </ul>-->
                                            <!--                                                    </div>-->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-12">
                                                <div class="float-right">
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>


                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row" sec:authorize="hasAuthority('Staff')">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Student List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Course</th>
                                                <th scope="col">Gender</th>
                                                <th scope="col">Contact</th>
                                                <th scope="col">Date of Birth</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>

                                            <tr th:each="eachStudent: ${studentDTOList}">
                                                <td th:text="${eachStudent.firstName + ' ' + eachStudent.lastName}"></td>
                                                <td th:text="${eachStudent.course}"></td>
                                                <td th:text="${eachStudent.gender}"></td>
                                                <td th:text="${eachStudent.contact}"></td>
                                                <td th:text="${eachStudent.birthdate}"></td>
                                                <td class="actions">
                                                    <a th:href="@{/student/update/__${eachStudent.contact}__}"
                                                       class="btn btn-warning btn-sm">Update</a>
                                                    <a th:href="@{/student/delete/__${eachStudent.contact}__}"
                                                       class="delete-row btn btn-secondary btn-sm">Delete</a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>