<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<body>

<!--left-sidebar fragment-->
<div th:fragment="left-sidebar">
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider"></li>
                        <li class="nav-item" sec:authorize="hasAuthority('Admin')">
                            <a class="nav-link"
                               href="#"
                               data-toggle="collapse"
                               aria-expanded="false"
                               data-target="#submenu-1"
                               aria-controls="submenu-1">
                                <i class="fas fa-chalkboard-teacher"></i>Administration
                            </a>
                            <div id="submenu-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/staff/create-admin}">Admin Create
                                            <span class="badge badge-secondary">New</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/staff/create}">Staff Create
                                            <span class="badge badge-secondary">New</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('Staff')">
                            <a class="nav-link"
                               href="#"
                               data-toggle="collapse"
                               aria-expanded="false"
                               data-target="#submenu-2"
                               aria-controls="submenu-2">
                                <i class="fas fa-chalkboard-teacher"></i>Staff
                            </a>
                            <div id="submenu-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/staff/update}">Edit Account
                                            <span class="badge badge-secondary">New</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/student/create}">Student Create
                                            <span class="badge badge-secondary">New</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Student', 'Staff')">
                            <a class="nav-link"
                               href="#"
                               data-toggle="collapse"
                               aria-expanded="false"
                               data-target="#submenu-3"
                               aria-controls="submenu-3">
                                <i class="fas fa-chalkboard-teacher"></i>Book
                            </a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item" sec:authorize="hasAuthority('Staff')">
                                        <a class="nav-link" th:href="@{/book/create}">Book Create
                                            <span class="badge badge-secondary">New</span></a>
                                    </li>
                                    <li class="nav-item" sec:authorize="hasAnyAuthority('Student')">
                                        <a class="nav-link" th:href="@{/book/search}">Browse
                                            <span class="badge badge-secondary">New</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('Student')">
                            <a class="nav-link"
                               href="#"
                               data-toggle="collapse"
                               aria-expanded="false"
                               data-target="#submenu-4"
                               aria-controls="submenu-4">
                                <i class="fas fa-user-graduate"></i>Student
                            </a>
                            <div id="submenu-4" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/student/update-profile}">Edit Profile</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Student', 'Staff')">
                            <a class="nav-link"
                               href="#"
                               data-toggle="collapse"
                               aria-expanded="false"
                               data-target="#submenu-5"
                               aria-controls="submenu-5">
                                <i class="fas fa-user-graduate"></i>Borrows
                            </a>
                            <div id="submenu-5" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item" sec:authorize="hasAuthority('Staff')">
                                        <a class="nav-link" th:href="@{/record/pending}">Return Book</a>
                                    </li>
                                    <li class="nav-item" sec:authorize="hasAuthority('Staff')">
                                        <a class="nav-link" th:href="@{/record/return-records}">Return Records</a>
                                    </li>
                                    <li class="nav-item" sec:authorize="hasAuthority('Student')">
                                        <a class="nav-link" th:href="@{/record/pending-returns}">Pending Returns</a>
                                    </li>
                                    <li class="nav-item" sec:authorize="hasAuthority('Student')">
                                        <a class="nav-link" th:href="@{/record/return-history}">Return History</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

</body>

</html>